<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring</title>
</head>
<body>
    <p>Student registered: <span th:text="${student.getFirstName()} + ' ' + ${student.getLastName()} + ' is from ' + ${student.getCountry()}
        + ' studies ' + ${student.getProgrammingLanguage()}">
        John Doe is from NeverLand</span> .Phones used:
        <span th:each="phone, iterStat : ${student.getPhones()}">
            <span th:if="${iterStat.index == iterStat.size - 2}" th:text="${phone} + ' and '"></span>
            <span th:if="${iterStat.index < iterStat.size - 2}" th:text="${phone} + ', '"></span>
            <span th:if="${iterStat.index == iterStat.size - 1}" th:text="${phone} + '.'"></span>
        </span>
    </p>
</body>
</html>